[Unit]
Description=Password generator micro service

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/cocoa/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cocoa
Environment=NODE_ENV=production
LimitFSIZE=unlimited
LimitCPU=unlimited
LimitAS=unlimited
LimitNOFILE=64000
LimitRSS=unlimited
LimitNPROC=32000
User=www-data

[Install]
WantedBy=multi-user.target